x-denseid-server: &denseid-server-base
  image: denseid-dev
  working_dir: /app
  entrypoint: ["air"]
  volumes:
    - .:/app
    - go-mod-cache:/go/pkg/mod
  restart: unless-stopped
  healthcheck:
    test: ["CMD", "sh", "-c", "nc -z localhost 50051"]
    interval: 30s
    timeout: 5s
    retries: 3
  logging:
    driver: "json-file"
    options:
      max-size: "10m"
      max-file: "3"
  deploy:
    resources:
      limits:
        cpus: '1.0'
        memory: 500M

services:
  enrollment-server-1:
    <<: *denseid-server-base
    container_name: enrollment-server-1
    command:
      - "--build.cmd=go build -o /app/bin/es1 /app/cmd/enrollment"
      - "--build.bin=/app/bin/es1"
    ports:
      - "50051:50051"
    env_file: .env.es1
    profiles: [enrollment]

  enrollment-server-2:
    <<: *denseid-server-base
    container_name: enrollment-server-2
    command:
      - "--build.cmd=go build -o /app/bin/es2 /app/cmd/enrollment"
      - "--build.bin=/app/bin/es2"
    ports:
      - "50052:50051"
    env_file: .env.es2
    profiles: [enrollment]

  key-derivation-1:
    <<: *denseid-server-base
    container_name: key-derivation-1
    command:
      - "--build.cmd=go build -o /app/bin/kd1 /app/cmd/keyderivation"
      - "--build.bin=/app/bin/kd1"
    ports:
      - "50053:50051"
    env_file: .env.kd1
    profiles: [keyderiv]

  key-derivation-2:
    <<: *denseid-server-base
    container_name: key-derivation-2
    command:
      - "--build.cmd=go build -o /app/bin/kd2 /app/cmd/keyderivation"
      - "--build.bin=/app/bin/kd2"
    ports:
      - "50054:50051"
    env_file: .env.kd2
    profiles: [keyderiv]

  relay-server-1:
    <<: *denseid-server-base
    container_name: relay-server-1
    command:
      - "--build.cmd=go build -o /app/bin/rel1 /app/cmd/relay"
      - "--build.bin=/app/bin/rel1"
    ports:
      - "50060:50051"
    env_file: .env.rs1
    profiles: [relay]

volumes:
  go-mod-cache:
