[
{% for ext in sip_accounts if ext.client == inventory_hostname -%}
	{
		"name": {{ (ext.name | default(ext.id)) | to_json }},
		"phone": {{ ext.id | to_json }}
	}{% if not loop.last %},{% endif %}
{%- endfor %}
]
